/* header part for contact us  */
.connectUs,
.connectUs ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bolder;
  margin: auto;
  flex-direction: column;
}

.navbar-nav {
  z-index: 1;
}




.upperHeader {
  background-color: red !important;
}

.upperHeader ul a {
  color: #fff !important;
}

.upperHeader ul a:hover {
  text-decoration: none;

}

.upperHeader ul li {
  list-style-type: none;
}



#twitter::before,
#linkedin:before,
#facebook::before,
#instagram::before,
#whatsapp::before,
#mobile::before,
#telephone::before,
#mail::before {
  font-family: "fontAwesome";
  text-indent: 0;
  padding: 0 5px;
}

#twitter,
#linkedin,
#facebook,
#instagram,
#whatsapp {
  text-indent: -99999px !important;
  display: flex !important;
  align-items: center;
}

#twitter::before {
  content: '\f081';
}

#linkedin:before {
  content: '\f08c';
}

#facebook::before {
  content: '\f230';
}

#instagram::before {
  content: '\f16d';
}

#whatsapp::before {
  content: '\f232';
}

#telephone::before {
  content: '\f098';
}

#mobile::before {
  content: '\f10b';
}


#mail::before {
  content: '\f0e0';
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link .navbar-nav:focus {
  border-bottom: 1px solid #fff !important;
}


/* header part for contact us  */


@media screen and (max-width: 991px) {

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-light .navbar-nav .active>.nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link .navbar-nav:focus {
    color: #fff;
  }

  #mail,
  #mobile,
  #telephone {
    text-indent: -999999px !important;
    display: flex !important;
    align-items: center;
  }

  #twitter::before,
  #linkedin:before,
  #facebook::before,
  #instagram::before,
  #whatsapp::before,
  #mobile::before,
  #telephone::before,
  #mail::before {
    padding: 0 !important;
  }

  nav {
    position: relative;
  }

  .navbar-nav {
    background-color: #0000ff !important;
    width: 100%;
    padding: 0 10%;
    position: absolute;
    align-items: center;
    left: 0;
  }

}


@media screen and (max-width: 768px) {
  .navbar-brand {
    flex-direction: column !important;
    align-items: start;
  }

  .text {
    padding: 0;

  }
}

@media screen and (max-width: 490px) {

  .text {
    font-size: 10px;
  }
}

/* @media screen and (max-width: 400px) {
  .envoy-logo {
    width: 100px !important;
  }
} */

@media screen and (max-width: 320px) {

  #twitter::before,
  #linkedin:before,
  #facebook::before,
  #instagram::before,
  #whatsapp::before,
  #mobile::before,
  #telephone::before,
  #mail::before {
    font-size: 10px;
  }

  .connectUs ul {
    padding: 0 !important;
  }


}