/* universal start here======*/
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* universal end here======== */

/* container start here======== */
.container {
  max-width: 1356px;
  width: 90%;
  margin: 0 auto;
}

/* container end here========= */

/* envoy logo */
.envoy-logo {
  width: 150px;
}

.connectUs ul {
  margin: 0 !important;
  padding: 5px 0;
}

.connectUs ul li{
  padding: 0 10px;
}

/* envoy logo */

.contactSpecialist{
  text-align-last: center;
}

.contactSpecialist a{
  background-color: red;
  padding: 10px;
  margin: 20px 0;
  width: 300px;
  text-align: center;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
